server:
  port: 8080

spring:
  application:
    name: bookstore

  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bookstore?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: debug

app:
  jwt:
    issuer: "bookstore"
    access-secret: "CHANGE_ME_ACCESS_SECRET_32CHARS_MIN________"
    access-exp-minutes: 15
    refresh-pepper: "CHANGE_ME_REFRESH_PEPPER________"
    refresh-exp-days: 14
